<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= profile.name %></title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
  </head>
  <body id="home">
    <div class="container">
      <div class="row">
        <div class="page-header">
          <h1 class="text-center"><strong><%= profile.name %></strong></h1>
        </div>
        <p class="text-center">📫 <%= profile.address %> | ☎️ <%= profile.telephone %> | ✉️ <%= profile.email %></p>
      </div>
      <div class="row">
        <h3>Profile</h3>
        <% profile.profile.each do |paragraph| %>
          <small><%= paragraph %></small>
        <% end %>
      </div>
      <div class="row">
        <h3>Skills</h3>
        <ul class="list-inline">
          <% profile.skills.each do |skill| %>
            <li><%= skill %></li>
          <% end %>
        </ul>
      </div>
      <div class="row">
        <h3>Work History</h3>
        <ul class="list-unstyled">
          <% profile.work_history.each do |work| %>
            <li>
              <strong><%= work.title %></strong> <small><%= work.dates %></small>
              <strong><%= work.employer %></strong> <small><%= [work.city, work.state].compact.join(", ") %></small>
              <% if work.achievements %>%>
                <ul class="small">
                  <% work.achievements.each do |achievement| %>
                    <li><%= achievement %></li>
                  <% end %>
                </ul>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
      <% if profile.internships.any? %>
        <div class="row">
          <h3>Internships</h3>
          <ul class="list-unstyled">
            <% profile.internships.each do |internship| %>
              <li>
                <strong><%= internship.title %> <%= internship.year %></strong>
                <small><%= internship.city %>, <%= internship.state %></small>
                <% if internship.achievements %>
                  <ul>
                    <% internship.achievements.each do |achievement| %>
                      <li><%= achievement %></li>
                    <% end %>
                  </ul>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <% if profile.community %>
        <div class="row">
          <h3>Community</h3>
          <ul class="small">
            <% profile.community.blogposts.each do |blogpost| %>
              <li><%= blogpost.title %> - <%= blogpost.link %></li>
            <% end %>
            <% profile.community.talks.each do |talk| %>
              <li><%= talk.title %> - <%= talk.link %></li>
            <% end %>
            <% profile.community.other.each do |item| %>
              <li><%= item %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <% if profile.certificates.any? %>
        <div class="row">
          <h3>Certificates</h3>
          <ul>
            <% profile.certificates.each do |description| %>
              <li><%= description %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="row">
        <h3>Education</h3>
        <% profile.education.each do |education| %>
          <small>
            <strong><%= education.institution %></strong> <%= education.years %><br>
            <%= education.city %>, <%= education.state %><br>
            <%= education.qualification %><br>
          </small>
        <% end %>
      </div>
    </div>
  </body>
</html>
